{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript",
        "printWidth": 100,
        "trailingComma": "all"
      }
    },
    {
      "files": "*.{js,jsx}",
      "options": {
        "parser": "babel",
        "printWidth": 100,
        "trailingComma": "all"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript",
        "printWidth": 120,
        "bracketSameLine": false,
        "jsxSingleQuote": false,
        "singleAttributePerLine": false
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "parser": "babel",
        "printWidth": 120,
        "bracketSameLine": false,
        "jsxSingleQuote": false,
        "singleAttributePerLine": false
      }
    }
  ]
}
